header{
    padding: 0 40px ;
    .imagenesCarrusel1{
        img{
            width: 100%;
            height: 500px;
        }
    }
}
section{
    padding: 40px;
    .introduccionIndex{
        @extend .flexColumn;
        align-items: center;
        width: 100%;
        background-color: $colorPrincipal;
        padding: 20px 40px;
        border-radius: 10px;
    }
}
.carruselProductos{
    padding: 20px 40px;
    .tarjetasProductosIndex{
       display: flex;
       justify-content: space-between;
       .card-body{
        @extend .flexColumn;
        align-items: center;
        .btn{
            background-color: $colorPrincipal;
            border: none;
            color: $colorTres;
            &:hover{
                background-color: $colorSecundario;
            }
        }
       }
    } 
}
.introduccionCategorias{
    @extend .flexColumn;
    align-items: center;
    width: 100%;
    background-color: $colorPrincipal;
    padding: 20px 40px;
    border-radius: 10px;
}

.categoriasIndex{
     display: flex;
     justify-content: space-around;
     width: 100%;
     padding: 5px;
     .imagenesCategorias{
          display: flex;
          width: 600px; 
          img{
              width: 600px;
              height: 300px;
              object-fit: cover;
          }
         .flaticonCategoria{
             display: flex;
             justify-content: center;
             align-items: center;
              img{
                  width: 200px;
                  height: 200px;                  background-color: rgba(66,171,52,0.5);
                  border-radius: 5px;
                  padding: 5px;
              }
          }
     }
 }

footer{
    background-color: $colorPrincipal;
    height: 60px;
    div{
        a{
            img{
                width: 50px;
                padding: 5px;
                margin-left: 15px;
            }
        }
    }
}


    
    
