// EXTENDS FLEX.
.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}



//  MIXINS BOTONES.
@mixin botonesGeneral($color,$background-color, $border-radius, $padding, $border){
    color: $color;
    background-color: $background-color;
    border-radius: $border-radius;
    padding: $padding;
    border: $border;
}
.btn,
button{
    @include botonesGeneral($colorTres, $colorPrincipal, 8px, 10px, none )
}






