// EXTENDS. 
.botonGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorPrincipal;
    border-radius: 8px;
    &:hover{
        background-color: $colorSecundario;
    }
}

//  MIXINS. Son grupos de acciones o propiedades que repetimos y que podemos ir modificando.
@mixin botonesGeneral($color,$background-color, $border-radius, $padding, $border){
    color: $color;
    background-color: $background-color;
    border-radius: $border-radius;
    padding: $padding;
    border: $border;
}
.btn,
button{
    @include botonesGeneral($colorTres, $colorPrincipal, 8px, 10px, none )
}



